.button1css {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.input1css {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}